<div class="wrapper-content no-breadcrumbs">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="ibox ">
        <div class="ibox-content" style="min-height: 270px">
          <div class="row">
            <div class="col-lg-6 col-md-6" *ngIf="type">
              <cdp-my-tasks-main [type]="type"></cdp-my-tasks-main>
            </div>
            <div class="col-lg-6 col-md-6">
              <cdp-user-can-do-box></cdp-user-can-do-box>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
